use (
	.
	./conv
	./jsonutils
	./jsonutils/adapters/easyjson
	./jsonutils/adapters/testintegration
	./jsonutils/adapters/testintegration/benchmarks
	./jsonutils/fixtures_test
	./loading
	./stringutils
	./typeutils
	./yamlutils
)

go 1.25.0
